@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

@font-face {
  font-family: "MorrisRoman";
  src: url("../fonts/MorrisRomanBlack.otf");
  src: url("../fonts/MorrisRomanBlack.ttf");
}

@font-face {
  font-family: "Century Gothic";
  src: url("../fonts/CenturyGothic.ttf");
}

:root {
  --dark: #0e0e0e;
  --hexa-width: 128px;
  --hexa-height: 140px;

  --color-primary: #0e0514;
  --color-secondary: #6e583c;

  --color-value: #ffd900;
  --color-positive: #7fff00;
  --color-negative: #ff4949;

  --color-tooltip-description: #00fa9a;
  --color-tooltip-description-text: #66cdaa;
  --color-tooltip-highlight-resource: #cd853f;

  --font-primary: "Century Gothic";
  --font-secondary: "MorrisRoman";
  --font-tooltip: "Roboto Slab";
  --font-primary-color: #ccc;

  --category-bg-color: #3b1d42;
  --category-border-color: #54305f;
  --category-content-bg-color: #160f16;
  --input-focus-border-color: #7b4f88;

  --e-color-air: #b8a4c4;
  --e-color-fire: crimson;
  --e-color-earth: #b67048;
  --e-color-water: #6baee7;

  --color-common: #6baee7;
  --color-special: #f764e3;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  margin-left: 0.5rem;
  margin-right: 1rem;
}

li {
  margin-bottom: 1.3em;
}

span {
  &.value {
    color: var(--color-value);
  }

  &.positive {
    color: var(--color-positive);
  }

  &.negative {
    color: var(--color-negative);
  }

  &.tab {
    margin-left: 2em;
  }
}

input[type="search"] {
  flex: 4;
  width: 100%;
  padding: 12px 10px;
  border: 1px solid var(--category-border-color);
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #131313;
  font-family: var(--font-primary);
  font-weight: 600;
  letter-spacing: 1px;
  color: white;
  caret-color: var(--color-secondary);

  &:focus {
    border: 1px solid var(--input-focus-border-color);
    outline: none;
  }

  &::-webkit-search-cancel-button {
    position: relative;
    cursor: pointer;
    padding: 5px;
  }
}

/* Scrollbars */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 16px;
}

::-webkit-scrollbar-thumb {
  background: rgb(71, 71, 71);
  border-radius: 16px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ddd;
}

::-webkit-scrollbar-thumb:active {
  background: #bbb;
}

#loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--dark);
  position: absolute;
  padding: 50px;
  z-index: 9999;
  gap: 1em;
  pointer-events: none;

  span {
    font-family: var(--font-primary);
    font-weight: 600;
  }
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: #0c0c0c;
  -webkit-font-smoothing: antialiased;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--font-primary-color);
  font-family: var(--font-numbers);
  text-shadow: 2px 2px 4px #000;
  font-size: medium;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

tooltip {
  position: absolute;
  background-color: black;
  width: max-content;
  top: 110%;
  left: 50%;
  pointer-events: none;
  border: 1px solid #29292998;
  box-shadow: 0 0 4px black;
  padding: 0.3rem 0.7rem;
  border-radius: 6px;
  font-size: small;
  font-family: var(--font-tooltip);
  letter-spacing: 0;
  font-weight: 400;
  opacity: 0;
  transform: translate(-50%, 0%);
  transition: all 0.5ms ease;
  text-align: center;

  &.top {
    top: -3em;
  }

  &.bottom {
    top: 1.8em;
  }

  &.item {
    font-family: var(--font-primary);
    font-weight: normal;
  }
}

:has(> tooltip) {
  position: relative;
  z-index: 9999;
}

.material-icons {
  font-family: "Material Symbols Rounded";
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: 20;
  color: orange;
}

.button {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-primary);
  font-weight: bold;
  font-size: 0.9em;
  letter-spacing: 1px;
  width: 100%;
  height: 100%;
  max-height: 40px;
  background: linear-gradient(
    140deg,
    rgb(253, 173, 69) 10%,
    rgb(248, 99, 12) 40%,
    rgb(107, 62, 4) 100%
  );
  box-shadow: 0px 0px 2px orangered;
  border-radius: 6px;
  cursor: pointer;
  text-shadow: 2px 2px 1px #00000081;
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
  z-index: 1;

  &.disabled {
    pointer-events: none;
  }

  &.clear {
    max-width: 42px;

    &::after {
      font-family: "Material Symbols Rounded";
      font-size: 24;
      content: "\f0ff";
    }
  }

  &.settings {
    max-width: 42px;

    &::after {
      font-family: "Material Symbols Rounded";
      font-size: 24;
      content: "\e8b8";
    }
  }

  &.help {
    max-width: 42px;

    &::after {
      font-family: "Material Symbols Rounded";
      font-size: 24;
      content: "\eb8b";
    }
  }

  &.ok {
    max-width: 40%;
    min-height: 40px;
  }

  &:hover {
    filter: brightness(120%);

    &:active {
      transform: scale(0.98);
    }
  }

  &.disable {
    pointer-events: none;
    background: linear-gradient(
      140deg,
      rgb(134, 133, 131) 10%,
      rgb(109, 102, 98) 40%,
      rgb(78, 78, 77) 100%
    );
    box-shadow: 0px 0px 5px gray;
  }

  &.blue {
    margin-bottom: 4em;
    background: linear-gradient(
      140deg,
      rgb(108, 174, 249) 10%,
      rgb(11, 61, 199) 40%,
      rgb(14, 35, 129) 100%
    );
    box-shadow: 0px 0px 3px royalblue;
  }

  &.green {
    margin-bottom: 4em;
    background: linear-gradient(140deg, #6af17d 10%, #149931 40%, #0e4603 100%);
    box-shadow: 0px 0px 3px lawngreen;
  }

  &.red {
    background: linear-gradient(140deg, #d57070 10%, #bb2323 40%, #810e0e 100%);
    box-shadow: 0px 0px 3px orangered;
  }

  &.invisible {
    display: none;
  }
}

mainmenu {
  position: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100vw;

  &.remove-events {
    pointer-events: none;
  }

  .band {
    display: flex;
    height: 100%;
    width: 1px;
    z-index: 1;
    background: linear-gradient(
      180deg,
      transparent 25%,
      var(--color-secondary) 75%
    );

    &.left {
      margin-left: 18em;
    }
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 100%;
    background: linear-gradient(180deg, transparent 10%, #050916c2 45%);
    padding-top: 20em;
    z-index: 1;

    .logo {
      content: url(../images/misc/logo.png);
      width: 25%;
      top: 5%;
      position: absolute;
      filter: drop-shadow(0px 0px 4px mediumpurple);
      transform: rotate(-10deg);
    }

    .text {
      text-align: center;
      font-family: var(--font-primary);
      font-size: 0.7em;
      color: lightsteelblue;

      &.invisible {
        display: none;
      }

      &#pause {
        font-size: 2.7em;
        font-weight: bold;
        margin-bottom: 1em;
      }

      &#version {
        margin-top: 5em;
      }

      &#changelog {
        color: #5f7b9f;
        cursor: pointer;
        margin-top: 1em;
        text-decoration: underline;

        &:hover {
          color: #cfddf0;

          &:active {
            color: var(--color-tooltip-highlight-resource);
          }
        }
      }
    }
  }

  .background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #1f0e3885;
    background-image: url(../images/misc/mainmenu_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(0.5);
    background-blend-mode: soft-light;
  }
}

.console {
  &.new-element {
    span {
      font-weight: 600;

      // &:nth-of-type(1) {
      //   color: var(--benefit);
      // }

      // &:nth-of-type(2) {
      //   color: var(--gold);
      // }
    }
  }

  &.buy-upgrade {
    color: mediumpurple;

    span {
      font-weight: 600;

      &:nth-of-type(2) {
        color: var(--benefit);
      }

      &:nth-of-type(3) {
        color: var(--gold);
      }
    }
  }

  &.levelUp {
    color: palegoldenrod;

    span {
      font-weight: 600;
      color: var(--gold);
    }
  }

  &.building-unlocked {
    color: darkorange;

    span {
      font-weight: 600;
      color: var(--benefit);
    }
  }

  &.random-quest {
    color: #c4a56a;

    span {
      color: hsl(41, 97%, 57%);
    }
  }
}

#game {
  display: flex;
  height: calc(100% - 25px);

  &.invisible {
    visibility: hidden;
  }

  .board-container {
    display: flex;
    position: relative;
    flex: 4;

    board {
      flex: 4 0 5%;
      display: flex;
      padding: 1em;
      position: relative;
    }

    #log {
      user-select: text;
      display: flex;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 170px;
      background: linear-gradient(to bottom, transparent 0%, black 100%);
      border-radius: 6px 6px 0 0;

      .text {
        //font-family: monospace;
        width: 100%;
        margin: 10px;
        padding: 10px;
        overflow-y: scroll;
        overflow-x: hidden;

        font-family: var(--font-primary);
        font-size: 0.75rem;
        font-weight: bold;
        letter-spacing: 0.2px;

        .message-log {
          display: inline;
        }
      }
    }

    .background {
      position: absolute;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-blend-mode: multiply;
      background-color: dimgrey;
      background-attachment: initial;
      height: 100%;
      width: 100%;
      filter: saturate(1.5) contrast(1.03);
      transition: background-image 1s linear;
      animation: zoom-in-background forwards 240s ease-in-out;
      animation-direction: alternate-reverse;
      animation-iteration-count: infinite;
    }
  }

  sidebar {
    display: flex;
    flex-direction: column;
    right: 0;
    padding: 1em;
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 412px;
    background-color: rgb(30 16 39);
    border-left: 2px ridge #6e583c;
    font-family: var(--font-primary);
    font-size: 0.9rem;
    font-weight: bold;
    box-shadow: -6px 0px 12px 2px #080808a3;

    ::-webkit-scrollbar {
      display: none;
    }

    .logo {
      margin: auto;
      padding-block: 0.5em 1.5em;
      pointer-events: none;
    }

    div#unlocked-container {
      display: flex;
      gap: 0.5em;
      position: relative;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      letter-spacing: 1px;
      font-size: smaller;
      text-align: center;
      line-height: 1.5em;
    }

    div#input-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 1em;
      gap: 0.6em;
      height: 40px;
    }

    div#sidebar-elements {
      position: relative;
      height: calc(100% - 124px);
      overflow: overlay;
    }

    div.category {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: var(--category-bg-color);
      border-radius: 5px;
      border: var(--category-border-color) 1px solid;
      margin-bottom: 1em;

      &.hidden {
        display: none;
      }

      &.open {
        div.category-header {
          padding-bottom: 0.7em;
        }

        div.chevron img {
          -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
        }

        div.category-content {
          display: flex !important;
          justify-content: flex-start;
          padding-inline: 10px;
          gap: 10px;
        }
      }

      div.category-header {
        display: flex;
        cursor: pointer;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding-inline: 1em;
        padding-block: 0.7em;

        span {
          letter-spacing: 1px;
        }

        &:hover {
          filter: brightness(150%);
        }

        div.chevron {
          display: flex;

          img {
            content: url(../img/misc/chevron.png);
            width: 16px;
            height: 16px;
          }
        }
      }

      div.category-content {
        display: none !important;
        border-radius: 5px;
        background-color: var(--category-content-bg-color);
        flex-wrap: wrap;
        overflow-y: overlay;
        gap: 3px;
        margin: 0.3em;
        padding: 0.8em 0.3em 0.7em 0.3em;
        max-height: 320px;

        &::-webkit-scrollbar {
          -webkit-appearance: none;
          width: 0;
          background: transparent;
        }

        &::-webkit-scrollbar-thumb {
          background: #ccc;
          border-radius: 16px;
        }
      }
    }
  }

  .element-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 80px;
    max-height: 80px;
    // max-height: 104px; //TODO: Descomentar cuando estén las imágenes.
    font-family: var(--font-primary);
    font-size: 0.9rem;
    font-weight: bold;

    &.hidden {
      display: none;
    }

    &.ghost {
      pointer-events: none;
      opacity: 0.6;
    }

    &.on-board {
      position: absolute;
    }

    &.shortcut {
      margin-right: 0.5em;
    }

    span {
      font-size: 0.8em;
      // margin-top: 0.3em; //TODO: Agregar cuando tenga las imágenes.
    }

    .element-button {
      cursor: grab;
      width: 80px;
      height: 80px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      text-shadow: 2px 2px 4px #000, 0px 0px 7px var(--dark),
        0px 0px 10px var(--dark);
      background: url(../img/misc/popup_bg.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-blend-mode: luminosity;
      border-style: solid;

      &:hover {
        transition: transform 50ms ease-in;
        transform: scale(1.08);
      }

      &.shadow {
        box-shadow: 0px 0px 10px var(--dark);
      }

      &:active {
        cursor: grabbing;
      }

      .element-image {
        background-position: center;
        background-size: cover;
        height: 40px;
        width: 40px;
        -webkit-filter: drop-shadow(0px 0px 3px black) contrast(1.2);
        filter: drop-shadow(0px 0px 3px black) contrast(1.2);
      }
    }
  }
}

.achievement-unlocked {
  color: darkgoldenrod;
  font-style: italic;
}

.achievement {
  display: flex;
  cursor: default;
  user-select: none;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  border: 3px solid transparent;
  border-image: url(../img/misc/tooltip_border.png) 3 round;
  border-radius: 3px;
  -webkit-box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 90%),
    0px 0px 10px 2px rgba(0, 0, 0, 60%);
  -moz-box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 90%),
    0px 0px 10px 2px rgba(0, 0, 0, 60%);
  box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 90%),
    0px 0px 10px 2px rgba(0, 0, 0, 60%);
  background: url(../img/misc/popup_bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: lightskyblue;
  background-blend-mode: multiply;
  margin-top: 5px;
  padding: 7px 15px 10px 10px;
  width: fit-content;

  img {
    width: 32px;
    height: 32px;
    transform: scale(1.1);
  }

  .icon {
    padding-right: 10px;
    display: flex;
    font-size: 2.2em;
  }

  .title {
    font-family: var(--font-tooltip);
    font-weight: bold;
    font-size: 1rem;
  }

  .subtitle {
    display: flex;
    align-items: center;
    font-size: x-small;
    font-weight: normal;
    font-family: Tahoma, Arial, sans-serif;
    margin-top: 2px;
  }
}

.popup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(30, 16, 39);
  border: 2px solid var(--color-secondary);
  border-radius: 10px;
  font-family: var(--font-primary);
  font-size: 0.9rem;
  font-weight: bold;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 8px 4px rgba(8, 8, 8, 0.6);

  &.settings {
    width: 480px;
    align-items: center;
  }

  &.help {
    width: 680px;
    height: 580px;
    align-items: center;
  }

  .close-x {
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 8px;

    &::after {
      font-family: "Material Symbols Rounded";
      font-size: 24;
      font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
      content: "\e5cd";
    }

    &:hover {
      color: wheat;
    }

    &:active {
      transform: scale(0.9);
    }
  }

  .title {
    margin-block: 1.2em;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

    &.footer {
      gap: 1em;
      justify-content: end;
      margin-bottom: 1em;
    }
  }
}

#help {
  display: none;

  .content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-bottom: 2em;
    height: 100%;
    width: 90%;
    gap: 0.6em;
    overflow: overlay;
    line-height: 1.5em;
    padding-inline: 1em;

    img:nth-child(1) {
      width: auto;
      margin: auto;
      border: none;
      padding-block: 3em 2em;
    }

    img {
      width: 75%;
      border: 1px solid var(--color-secondary);
      border-radius: 8px;
      margin-block: 1em;
      pointer-events: none;
    }
  }
}

#settings {
  display: none;

  .content {
    display: flex;
    flex-direction: column;
    margin-block: 3em;
    width: 80%;
    gap: 0.6em;

    .option {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 35px;

      .slide-volume-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 0.3em;

        span:nth-child(2) {
          width: 24px;
          text-align: right;
        }
      }

      div {
        display: inherit;
        width: 60%;

        span.icon {
          color: var(--input-focus-border-color);
          margin-right: 0.5em;
          font-family: "Material Symbols Rounded";
          font-size: 16;
          font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;

          &.lang {
            &::before {
              content: "\e8e2";
            }
          }

          &.sound {
            &::before {
              content: "\e050";
            }
          }

          &.reset {
            &::before {
              content: "\e28e";
            }
          }
        }

        .text {
          display: flex;
          align-items: center;
        }
      }

      select {
        background: var(--category-bg-color);
        color: white;
        border: none;
        border-radius: 4px;
        font-size: 14px;
        font-family: var(--font-tooltip);
        padding: 5px;
        width: 100px;
        outline: 1px solid var(--category-border-color);

        &:focus {
          outline: 1px solid var(--input-focus-border-color);
        }
      }

      input[type="range"] {
        display: block;
      }

      input[type="range"]:focus {
        outline: none;
      }

      input[type="range"],
      input[type="range"]::-webkit-slider-runnable-track,
      input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 120px;
      }

      input[type="range"]::-webkit-slider-thumb {
        background-color: var(--category-border-color);
        width: 20px;
        height: 20px;
        border: 3px solid var(--input-focus-border-color);
        border-radius: 50%;
        margin-top: -9px;
      }

      input[type="range"]::-moz-range-thumb {
        background-color: #777;
        width: 15px;
        height: 15px;
        border: 3px solid #333;
        border-radius: 50%;
      }

      input[type="range"]::-ms-thumb {
        background-color: #777;
        width: 20px;
        height: 20px;
        border: 3px solid #333;
        border-radius: 50%;
      }

      input[type="range"]::-webkit-slider-runnable-track {
        background-color: var(--category-border-color);
        height: 3px;
      }

      input[type="range"]:focus::-webkit-slider-runnable-track {
        outline: none;
      }

      input[type="range"]::-moz-range-track {
        background-color: var(--category-border-color);
        height: 3px;
      }

      input[type="range"]::-ms-track {
        background-color: var(--category-border-color);
        height: 3px;
      }
    }
  }
}

.horizontal-band {
  display: flex;
  height: 1px;
  width: 90%;
  z-index: 1;
  background: linear-gradient(
    to right,
    transparent,
    var(--color-secondary),
    transparent
  );
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 25px;
  background: url(../img/misc/top_bar.jpg);
  background-size: contain;
  background-color: var(--dark);
  background-blend-mode: luminosity;
  transform: rotateX(180deg);

  a {
    padding-left: 3px;
    color: white;

    &:hover {
      color: wheat;
    }
  }

  div {
    display: flex;
    align-items: center;
    height: 20px;
    padding: 0 5px 0 10px;
    font-size: x-small;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    border-left: 1px dotted rgba(128, 128, 128, 0.404);

    .by {
      margin-right: 8px;
    }

    &.content {
      display: flex;
      transform: rotateX(180deg);
      padding-left: 0;
      border-left: 0;

      .social {
        background-position: 10px 3px;
        background-repeat: no-repeat;
        padding-left: 30px;
        padding-right: 12px;

        &.twitter {
          background-image: url(../img/social/twitter.png);
        }

        &.youtube {
          background-image: url(../img/social/youtube.png);
        }

        &.github {
          background-image: url(../img/social/github.png);
        }
      }

      div:last-child {
        border-right: 1px dotted rgba(128, 128, 128, 0.404);
      }
    }

    &.music {
      display: flex;
      transform: rotateX(180deg);

      #music-controls {
        font-family: "Material Symbols Rounded";
        font-size: 16;
        font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
        margin-left: 10px;
        gap: 3px;

        span {
          width: 16px;
          cursor: pointer;

          &:hover {
            color: wheat;
          }

          &:active {
            color: beige;
          }

          &.previous {
            &::before {
              content: "\e045";
            }
          }

          &.play {
            width: 19px;
            margin-left: -3px;

            &::before {
              font-size: 24;
              content: "\e037";
            }
          }

          &.pause {
            &::before {
              content: "\e034";
            }
          }

          &.next {
            &::before {
              content: "\e044";
            }
          }
        }
      }

      span:nth-of-type(1) {
        cursor: pointer;
        display: flex;
        align-items: center;

        ::before {
          font-family: "Material Symbols Rounded";
          font-size: 14;
          content: "music_note";
        }
      }

      span:nth-of-type(2) {
        transform: scale(0.7);
        padding-right: 0;

        input[type="range"] {
          display: block;
          width: 70px;
          margin-top: 5px;
          margin-right: -15px;
        }

        input[type="range"]:focus {
          outline: none;
        }

        input[type="range"],
        input[type="range"]::-webkit-slider-runnable-track,
        input[type="range"]::-webkit-slider-thumb {
          -webkit-appearance: none;
        }

        input[type="range"]::-webkit-slider-thumb {
          background-color: #777;
          width: 20px;
          height: 20px;
          border: 3px solid #333;
          border-radius: 50%;
          margin-top: -9px;
        }

        input[type="range"]::-moz-range-thumb {
          background-color: #777;
          width: 15px;
          height: 15px;
          border: 3px solid #333;
          border-radius: 50%;
        }

        input[type="range"]::-ms-thumb {
          background-color: #777;
          width: 20px;
          height: 20px;
          border: 3px solid #333;
          border-radius: 50%;
        }

        input[type="range"]::-webkit-slider-runnable-track {
          background-color: #777;
          height: 3px;
        }

        input[type="range"]:focus::-webkit-slider-runnable-track {
          outline: none;
        }

        input[type="range"]::-moz-range-track {
          background-color: #777;
          height: 3px;
        }

        input[type="range"]::-ms-track {
          background-color: #777;
          height: 3px;
        }

        input[type="range"]::-ms-fill-lower {
          background-color: HotPink;
        }

        input[type="range"]::-ms-fill-upper {
          background-color: black;
        }
      }
    }
  }
}

@keyframes glowing {
  0% {
    filter: drop-shadow(0px 0px 3px rgba(10, 10, 49, 0.3))
      drop-shadow(0px 0px 6px rgba(10, 10, 49, 0.3)) brightness(90%);
  }
  50% {
    filter: drop-shadow(0px 0px 4px rgba(78, 128, 175, 1))
      drop-shadow(0px 0px 6px rgba(78, 128, 175, 1)) brightness(120%);
  }
  100% {
    filter: drop-shadow(0px 0px 3px rgba(10, 10, 49, 0.3))
      drop-shadow(0px 0px 6px rgba(10, 10, 49, 0.3)) brightness(90%);
  }
}

@keyframes glowage {
  0% {
    filter: drop-shadow(0px 0px 6px rgba(10, 10, 49, 0.3))
      drop-shadow(0px 0px 3px rgba(10, 10, 49, 0.3)) brightness(90%);
  }
  50% {
    filter: drop-shadow(0px -1px 3px rgba(173, 94, 20, 0.7))
      drop-shadow(0px -1px 3px rgb(173, 94, 20)) brightness(120%);
  }
  100% {
    filter: drop-shadow(0px 0px 6px rgba(10, 10, 49, 0.3))
      drop-shadow(0px 0px 3px rgba(10, 10, 49, 0.3)) brightness(90%);
  }
}

@keyframes zoom-in-background {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
